[2015-05-20 12:35] manifest opened #3 "We should remove 'activateEvent' listener of the 'Polymer.IronSelectableBehavior'"
We should remove 'activateEvent' listener of the 'Polymer.IronSelectableBehavior' for 'iron-pages'.

[code]

The problem occurs when the event comes from the element which is content of iron-selector (or iron-pages). It makes impossible to change the current page of 'iron-page' tapping on whatever element located inside the page.

Full example:

[code]

[code]

[2015-05-29 16:57] cdata commented on #3
Thanks for reporting. I will take a look.

[2015-05-31 14:33] SemonCat opened #5 "Animated transitions between pages"
very need this.

[2015-06-01 18:24] morethanreal commented on #5
Check out https://github.com/PolymerElements/neon-animation for this.

[2015-06-01 18:24] #5 closed, assigned to nobody

[2015-06-03 04:23] yiochen opened #7 "Any event when selected item changed?"
In polymer 0.5 I listened to "core-select" event for initializing each page of core-pages since core-pages extends core-selector. Is there an similar event for iron-pages? I tried to set activate-event attribute on iron-pages, but didn't catch any events (maybe I didn't use it correctly).

[2015-06-05 18:19] hawkett commented on #3
I took some time to put this on [jsbin](http://jsbin.com/gacolo/5/edit) - thanks @manifest for working out an example.

FWIW, I'm not seeing the listener removal helping the problem.

[2015-06-05 20:26] manifest commented on #3
@hawkett, since Polymer v1.0 has been released this fix no longer works. To listen to no events we can set 'IronSelectableBehavior.activateEvent' to an empty string according to the in-source documentation.

[code]

But I still think this behavior should be set by default for the iron-pages element.

[2015-06-05 20:48] hawkett commented on #3
Right - we be able to reliably call select() on an iron-pages element.

I've been doing this where I've had the problem:

[code]

Perhaps a little more resilient to future changes in iron-pages implementation. Perhaps not :) Either solution is not ideal.

[2015-06-05 23:46] hawkett commented on #3
After a a bunch of digging have discovered the problem in this issue is _not_ the cause of the problem I [originally posted](https://github.com/PolymerElements/iron-selector/issues/16), they just had very similar effects. Note - I deleted my previous comment in this issue as it contained a workaround for the original problem, but it wasn't applicable to this issue.

I'll add more details on the or

[2015-06-05 23:50] glaucomunsberg opened #8 "No change"
I can't change the selected page by javascript inside one function, I have a scope problem?

[2015-06-08 06:52] AlcaYezz commented on #8
I have this problem too, when I change selected page that work a first time but i can't switch another time. I use console.log before and after selected changes and this value is always reset. I check all my javascript and that doesn't come from her.

[2015-06-09 20:53] vl4dt commented on #8
Same condition here, selection only works when executed from Chrome's javascript console:
[YouTube: Video showing the issue](https://youtu.be/z_XqpVQvLeg)

Code involved:

HTML:

[code]

JavaScript:

[code]

Before that I tried to just:

[code]

with same results.

[2015-06-11 10:09] sjmiles commented on #8
These are likely all caused by the same problem described in #3.

[2015-06-11 10:11] sjmiles opened #10 "defaulting to null selection is problematic"
Suggest `selected: { value: 0 }` so that simple constructions don't appear blank (and therefore broken) to users.

I can make a PR for this issue, but it's annoying to do separately from #9. After #9 is merged, I can send the PR.

[2015-06-11 15:53] cdata commented on #10
This sounds like a good idea.

It's possible to make PRs against branches other than `master`. Push your branch-of-a-branch to Github, make a PR, and in the top left drop-down you can select a branch other than `master` to make a PR against:

![image](https://cloud.githubusercontent.com/assets/240083/8111478/f6c5fbd0-1016-11e5-97d5-9fe837ae05a2.png)

[2015-06-11 18:14] sjmiles commented on #10
Yes, but what I don't know is what happens if you merge the branch_a without merging the branch_b. They really don't _need_ to depend on each other, they just overlap coincidentally .

[2015-06-11 19:03] cdata commented on #10
In that case, the PR for `branch_b` would have to be re-made against `master`. But, nothing would be lost in the process, if that's a concern.

[2015-06-15 22:43] #3 closed, assigned to cdata

[2015-06-19 21:02] notwaldorf commented on #7
There should be an `iron-select` or `iron-activate` event fired, depending on which one you need.

[2015-06-19 21:02] #7 closed, assigned to nobody

[2015-08-16 23:08] glaucomunsberg commented on #8
@sjmiles looking through the code I found something curious: when I set the second element using , for example, document.querySelector('iron-papges').selected = 1, the first div lost the class 'iron-selected', but the second div not receives the class.

[2015-08-26 14:52] ROODAY opened #12 "selectNext() Does not work"
According to the documentation,

[code]

should select the next page, however it did not work for me. Trying the code in the console did nothing as well. As noted by @glaucomunsberg in #8, `pages.selected = x` will removed the class 'iron-selected' from the current page, but will not add it to the next.

I'm not sure what I did wrong or if there is an error inside this element, but for anyone else

[2015-08-26 14:56] beccannlittle opened #13 "Google Web Components don't render when used with iron-pages"
I've tested with `google-map`, `google-chart`, and `google-streetview-pano`. When used in conjunction with `iron-pages`, the components don't render. When used with the exact same code but outside of an `iron-pages`, they render fine.

Here's what `google-chart` looks like:
![screen shot 2015-08-26 at 7 35 03 am](https://cloud.githubusercontent.com/assets/6414050/9496585/dee1786a-4bc5-11e5-913b-5c

[2015-08-26 15:40] samccone commented on #12
hi @ROODAY I just did a quick test on master and everything seems to be working...

![out](https://cloud.githubusercontent.com/assets/883126/9498315/68b5da80-4bd6-11e5-9b9e-82bbfd13cd4e.gif)

mind throwing together a jsfiddle or something?

[2015-08-26 15:54] ROODAY commented on #12
Could you link yours? I tried to make one and it just won't run, I think I'm not importing properly.

[2015-08-26 16:04] samccone commented on #12
If you apply this patch it should work @ROODAY

#### Patch

[code]

[2015-08-26 16:07] ROODAY commented on #12
Hmm, so its the relative links? Could this be problematic in all elements then?

[2015-08-26 16:10] samccone commented on #12
this is only because the url paths are relative paths to work on https://elements.polymer-project.org

But I am with you, and totally understand your confusion.

@addyosmani thoughts on making the demo folders optimized for "cloning" and just do the heavy lifting on the `elements` site to do the correct demo path src rewriting

[2015-08-26 16:15] ROODAY commented on #12
Oh, ok! Thanks for the patch!

[2015-08-26 16:15] #12 closed, assigned to nobody

[2015-11-09 20:45] WaverleyDesign opened #16 "Gap below iron-pages element?"
When an element containing the iron-pages Polymer element is placed on my page, above a paper-toolbar, the image (that has a fixed height) within my iron-pages is not reaching down to the paper-toolbar. Upon inspection in the devtools, I found that the iron.selected class seemed to be always a few pixels taller than the image, though there was nothing in the styles inspector related to height or e

[2015-11-18 01:44] cdata opened #18 "Tests fail due to asynchrony added into `IronSelectableBehavior`"
`honors selected` test needs to be updated for this.

[2015-12-01 18:07] MeloJR opened #20 "iron-pages fails when loaded asynchronously"
I am following the steps described in this [article](https://github.com/PolymerElements/polymer-starter-kit/blob/master/docs/polymer-perf.md) and I found that `iron-pages` is not working at all (but it does show the first page).

I changed the `elements.html` import to be loaded at the beginning of the document instead of dynamically in `loadElements` function inside `app.js` and it then worked. S

[2015-12-10 21:05] cdata opened #22 "google-map does not render to its size when used in core-animated-pages when it is in secion 1+"
_From @atotic on July 9, 2015 18:57_

_From @tobiashutterer on July 15, 2014 14:23_

using <google-map> in a <core-animated-pages> just works right on index=0. When i try using or styling it on index 1-x the box is as i defined it, but the redered map just shows about 200px in the left upper corner of the map box.
.
Might this me a bug, or am I too stupid? I hope it is the second one.

![image](ht

[2015-12-10 21:05] cdata commented on #22
_From @atotic on July 9, 2015 18:57_

_From @bamnet on July 15, 2014 14:38_

Can you link to a sample which reproduces this?

[2015-12-10 21:05] cdata commented on #22
_From @atotic on July 9, 2015 18:57_

_From @ebidel on July 15, 2014 17:35_

I believe the problem is related to the fact that the map's container is `display: none` initially.  From [here](http://stackoverflow.com/a/3412601/274673), the fix is:

[code]

Haven't tested, but we can bake something like this into the map element.

[2015-12-10 21:05] cdata commented on #22
_From @atotic on July 9, 2015 18:57_

_From @ebidel on July 16, 2014 5:42_

Unfortunately, there's no good way to detect when the parent element of the map becomes visible. I got it working by polling if `.offsetParent` was set using rAF callbacks, but that's not ideal. If core-animated-pages were to fire an event, the client can call `mapEl.resize()` to ensure the map is displayed properly. That

[2015-12-10 21:05] cdata commented on #22
_From @atotic on July 9, 2015 18:57_

_From @sjmiles on July 16, 2014 6:16_

Fwiw, this is a common problem and we need to work out a way to inform downstream elements of these kind of changes. I'm reluctant to get into _broadcasting_, but I don't have any better ideas at the moment.

[2015-12-10 21:05] cdata commented on #22
_From @atotic on July 9, 2015 18:57_

_From @addyosmani on July 16, 2014 8:38_

Are there perf implications of excessive broadcasting you're concerned of?

[2015-12-10 21:05] cdata commented on #22
_From @atotic on July 9, 2015 18:57_

_From @ebidel on July 16, 2014 17:27_

We almost need a platform primitive to know if an element is in the render tree.

[2015-12-10 21:05] cdata commented on #22
_From @atotic on July 9, 2015 18:57_

_From @ebidel on July 16, 2014 22:4_

`core-animated-pages` now fires the "core-animated-pages-transition-prepare" event when transitions occur: https://github.com/Polymer/core-animated-pages/commit/e18d5bfb9c90ee903ec62fc6e9f89438f7553787

This should do the trick:

[code]

[2015-12-10 21:05] cdata commented on #22
_From @atotic on July 9, 2015 18:57_

_From @ebidel on July 30, 2014 21:9_

@tobiashutterer we moved this to the GoogleWebComponents org and will be keeping the release version up to date more frequently. You'll get the latest when using the plain `bower install GoogleWebComponents/google-map`.

Closing this as the workaround is posted above for the original issue.

[2015-12-10 21:05] cdata commented on #22
_From @atotic on July 9, 2015 18:57_

_From @phidias51 on March 10, 2015 20:6_

I've noticed the same problem when embedding the map in a core-pages element or a core-collapse element.  It looks like the map is being translated up and to the left, leaving grey space behind in its wake.  The position is not centered in the middle of the map.  Also, the map.resize() call is causing the original lat/

[2015-12-10 21:05] cdata commented on #22
_From @atotic on July 9, 2015 18:57_

_From @Zippersk on June 15, 2015 15:12_

I have same problem with neon-animated-pages. I can't find som fire like neon-animated-pages-transition-prepare. Is there any solution to display map?

[2015-12-10 21:05] cdata commented on #22
_From @atotic on July 9, 2015 18:57_

Pull #152 should have fixed this for neon-animated-pages. Have you tried #master

[2015-12-10 21:05] cdata commented on #22
_From @atotic on July 9, 2015 18:57_

_From @Zippersk on June 15, 2015 17:5_

Install master verison helps! Thaks a lot. :)

[2015-12-10 21:05] cdata commented on #22
_From @atotic on July 9, 2015 18:57_

_From @kingflurkel on July 9, 2015 15:38_

I still have this bug with neon-animated-pages.
I use this version:     "google-map": "GoogleWebComponents/google-map#^1.0.0",
Any help / tips to get this working?

[2015-12-10 21:05] cdata commented on #22
_From @atotic on July 9, 2015 18:57_

@kingflurkel if you have a test case, I can take a look

[2015-12-10 21:05] cdata commented on #22
_From @atotic on July 9, 2015 18:57_

_From @kingflurkel on July 9, 2015 18:8_

http://actaanbod.bitballoon.com/
Click on the location icon. So I have google-map within iron-animated-pages.
Code:
https://github.com/A-StadLabs/activiteitenaanbod/tree/master/app/elements/a-activiteitenstage
https://github.com/A-StadLabs/activiteitenaanbod/blob/master/app/elements/a-locatie/a-locatie.html

[2015-12-10 21:05] cdata commented on #22
_From @atotic on July 9, 2015 18:57_

Thanks.
google-map is not getting the iron-resize event. I'll have to dig in to
find out why.

On Thu, Jul 9, 2015 at 11:08 AM, Michael Thuy notifications@github.com
wrote:

[2015-12-10 21:05] cdata commented on #22
_From @atotic on July 9, 2015 18:57_

_From @kingflurkel on July 9, 2015 18:31_

Maybe because google-map is in another custom-element, which is in iron-pages?

[2015-12-10 21:05] cdata commented on #22
_From @atotic on July 9, 2015 18:57_

The problem is in the neon-animated-pages. Because map is inside a custom element, it does not get a notification that it has been shown.  Iniside neon-animated-pages:

[code]

This should probably be: if element is selectedPage, or its parent is a selected page.

[2015-12-10 21:05] cdata commented on #22
_From @naoak on July 10, 2015 2:21_

Hmm.. It certainly has a problem. For the present, adding IronResizableBehavior to pages (in this case, a-locatile) might be work.

[2015-12-10 21:05] cdata commented on #22
_From @naoak on July 10, 2015 3:41_

This resizerShouldNotify trick code restricts resize notifications to only a selected page so that unnecessary resize notifications to invisible pages can be removed. But it requires children pages to be iron-resizable. I think we can handle this issue by two ways.
1. Improve the trick to check if an element's ancestor is a selected page.
2. Remove the trick an

[2015-12-10 21:05] cdata commented on #22
_From @naoak on July 10, 2015 4:21_

I made a PR with the 1st way. Please confirm it.

[2015-12-10 21:05] cdata commented on #22
_From @atotic on July 10, 2015 8:17_

Thanks, we'll have to wait for animated-pages owner to take a look at it.

[2015-12-10 21:05] cdata commented on #22
_From @kingflurkel on July 10, 2015 9:44_

Yes @naoak ! This works like a charm.

[2015-12-10 21:05] cdata commented on #22
_From @naoak on July 10, 2015 9:54_

Sorry to cause you trouble...
But, that's good to hear:)

[2015-12-10 21:05] cdata commented on #22
_From @morethanreal on July 10, 2015 19:19_

@naoak I think your suggestion 2 is the better fix, because we decide whether or not to fire `iron-resize` on a subtree is at the page level. Since the interested node could be n levels deep it seems better to not walk the tree every time resize is fired.

[2015-12-10 21:05] cdata commented on #22
_From @naoak on July 12, 2015 11:46_

You're absolutely right. The 1st way has a performance issue that cannot be ignored. I also think the 2nd is the better. But, on neon-animated-pages, it is a common case that invisible pages receive `iron-resize` events which originally should be ignored. I'd like to know a standard manner how to achieve this.
Many thanks.

[2015-12-10 21:05] cdata commented on #22
_From @morethanreal on July 13, 2015 23:17_

@naoak @atotic `IronResizableBehavior` intends for both the resizing and resized element to implement the behavior, but in the case of `neon-animated-pages` it is resizing an element it doesn't own (ie. not itself, and not in its local DOM). My first thought is to require the user to implement `IronResizableBehavior`, but I echo the concerns about makin

[2015-12-10 21:05] cdata commented on #22
_From @naoak on July 14, 2015 17:19_

OK, I see. I found `iron-pages` also has the redundant resize notification issue, seeing  https://github.com/PolymerElements/iron-pages/blob/master/iron-pages.html#L91.
I think reverting `neon-animated-pages`'s notification is good to follow it, for the time being.

[2015-12-10 21:05] cdata commented on #22
_From @morethanreal on July 23, 2015 20:28_

@naoak How do you feel about moving your PR to `iron-pages`?

[2015-12-10 21:05] cdata commented on #22
_From @naoak on July 24, 2015 1:50_

@morethanreal I am okay with that. This issue is not essentially related with animations.

[2015-12-10 21:05] cdata commented on #22
Moving this to `iron-pages`.

[2015-12-10 22:44] #18 closed, assigned to nobody

[2015-12-15 17:39] matdehaast commented on #13
Does anyone know how to resolve this issue?

[2015-12-15 18:16] cdata commented on #13
Hey guys, depending on whether or not the map is visible at the time that it is rendered, you may need to notify of resize when the page containing the map is made visible. Could you give that a try? The public method to do this on `<google-map>` is `notifyResize`. Alternatively, if the containing host element implements `IronResizableBehavior`, you can call `notifyResize` on it when the page chan

[2015-12-15 19:15] matdehaast commented on #13
Hi cdata

Thanks for the quick reply. Could you elaborate how and where I would need to call that method please, as I am relatively new to polymer. I am working with polymer and dart.

Regards
Matt

[2015-12-15 19:26] cdata commented on #13
Sure, here is a contrived example. Please forgive me as I do not know Dart, so I can only show you a JavaScript example:

[code]

[2015-12-15 19:43] matdehaast commented on #13
Thanks I do understand how to implement that in dart.

I will give it a try and report back

[2015-12-17 16:53] matdehaast commented on #13
Hi Christopher.

Just to give an update. I could not get the notifyResize or any resize function to work. What has worked for me to get the elements to display is to cascade the layout-flex and layout-vertical css tags through all the containers. It seems the google-maps layout was getting a height of 0px assigned and not sure why. Thus I can assign a height but it wasnt dynamic. That is when I tr

[2015-12-17 17:08] ebidel commented on #22
Dupe of https://github.com/PolymerElements/iron-pages/issues/13/?

[2015-12-25 22:35] maria-le opened #23 "There is no link to the demo pages from the main docs page"
[We have to hack the URL to see the below demo page](https://elements.polymer-project.org/elements/iron-pages?view=demo:demo/index.html&active=iron-pages) as there is no link to it in the left navigation menu.

https://elements.polymer-project.org/elements/iron-pages?view=demo:demo/index.html&active=iron-pages

[2015-12-29 00:45] NamTThai opened #24 "How to dynamically add pages to iron-pages"
How do I dynamically add pages to iron-pages? Couldn't find documentation anywhere.

Thanks

http://jsbin.com/nuhone/4/edit?html,console,output

[2016-01-04 18:59] cdata commented on #13
Hi Mat, thanks for giving it a shot. It's possible, depending on your layout, that the map's container is getting a computed height of `0px`. Would you be able to provide a code sample or JSBin test case that shows how your layout is structured?

[2016-01-14 16:28] kenchris opened #27 "Last <section> is sizes differently than the others"
I have having various sections to switch between in https://weneed-1147.appspot.com/ (click on the FAB, write something, click add and then click on the image).

Without the following patch:

https://github.com/kenchris/weneed/commit/ea5beaa1abe4f9e190e98b935d0cb773c29bd370

the image (the error one) is smaller than on the other pages, using the same code:

![smaller](https://cloud.githubuserconte

[2016-01-20 06:43] vinerz opened #28 "Add support for lazy-loading pages"
It would be very nice to use a markup like this:

[code]

That under the hood wraps the `<page>`s into `<template dom-if="{{_equals(selected, ....)}}">`

This way we could be able to not load large chunks of DOM when not necessary instead of just using `display: none`, besides the great advantage of not loading nearly not used sections of the app into memory.

[2016-01-20 19:09] tearseb2 opened #29 "Mysterious failure when a page contains too many children"
While attempting to create a tabbed interface for a tool, I found that having too many children inside of one of the "page" divs of an iron-pages element breaks the functionality. Here's the relevant chunk of the page:

[code]

JS executed via console:

[code]

This properly switches between the two divs (the one with the many rows and the one with "Blah") when x (the number of repeated rows) is 2

[2016-01-20 19:34] tearseb2 commented on #29
Ran another experiment:
Swapping the order of the divs (so the 'short' div starts displayed) actually alleviates the problem in my test example.  Sadly my use-case is swapping pages between two views of the same data so each page is equally huge but this coupled with Additional Info 2 (from the original issue) indicates that the problem may have something to do with page load rather than the conte

[2016-01-20 20:57] rictic commented on #29
It sounds like this is a case where iron-pages fixates on its children before page load is finished and doesn't notice as more are added.

Changes have landed to this behavior somewhat recently, I'll message you privately with info on how to test your internal code with the latest code from github.

[2016-01-21 00:41] tearseb2 commented on #29
You're correct about the fixating.  When I call up the .items attribute of the iron-pages element it only lists the first element.  I can manually add the second div to the .items array and then .selectNext() works properly.

[2016-01-22 03:59] rictic commented on #29
What happens if you call `_updateItems()` on the iron-pages element after it's loaded?

I wonder if we need to listen for DOMContentLoaded in iron-selector...

[2016-01-22 04:01] rictic commented on #29
\cc @cdata who's done a lot of the work on iron-selector

[2016-01-27 00:59] notwaldorf commented on #8
I think this has been fixed. Please re-open if it's still reproducible!

[2016-01-27 00:59] #8 closed, assigned to nobody

[2016-01-27 22:14] notwaldorf commented on #10
I don't think this is an issue anymore; please re-open if i'm wrong!

[2016-01-27 22:14] #10 closed, assigned to nobody

[2016-01-28 22:44] notwaldorf commented on #13
Closing, since we don't have any repro steps for this. Please re-open with a jsbin if this is still happening (see the CONTRIBUTING.md docs for a sample to get you started)

[2016-01-28 22:44] #13 closed, assigned to nobody

[2016-02-02 21:22] notwaldorf commented on #24
You need to use `Polymer.dom(ironPage).appendChild(newDiv)`, so that the correct node observers fire off. Here's your JSBin, updated to work: http://jsbin.com/hisoper/edit?html,output

[2016-02-02 21:22] #24 closed, assigned to nobody

[2016-02-02 21:34] notwaldorf commented on #20
Closing, as this issue doesn't have any code that we can debug. Please provide a JSBin containing a set of reproducible steps, and re-open. Check this element's CONTRIBUTING.md for an example.

[2016-02-02 21:35] #20 closed, assigned to nobody

[2016-02-02 22:59] #23 closed, assigned to nobody

[2016-02-02 23:13] notwaldorf commented on #27
I don't see anything about `iron-pages` in the patch that you linked to, so I don't really understand how it's relevant. Also, your app contains a lot of code and styles, all of which can contribute to a sizing bug; in particular, `iron-pages` doesn't do any styling of its children, so I am skeptical that it's at fault here :(

Without looking at some code, there's not really anything we can do. P

[2016-02-02 23:13] #27 closed, assigned to nobody

[2016-02-02 23:20] notwaldorf commented on #16
I can't reproduce this: http://jsbin.com/dejopi/edit?html,output. The `iron-pages` and the div right below it seem to be flush.

Please re-open this issue if it still occurs, with a JSBin containing a set of reproducible steps. Check this element's [CONTRIBUTING.md](../CONTRIBUTING.md) for an example to help you get started.

[2016-02-02 23:20] #16 closed, assigned to nobody

[2016-02-02 23:22] notwaldorf commented on #22
Closing, as this could be a dupe, and much like #13 it doesn't have any repro steps. Please re-open this issue if it still occurs, with a JSBin containing a set of reproducible steps. Check this element's [CONTRIBUTING.md](../CONTRIBUTING.md) for an example to help you get started.

[2016-02-02 23:22] #22 closed, assigned to morethanreal

[2016-02-02 23:22] rodrigogoncalves opened #31 "Child element has no height and is out of the css page flow"
First of all: is this the desired behaviour? If so, what is the rationale? If not, why not remove absolute positioning from child elements?

What I am trying to produce is a layout in which `iron-pages` children will remain in the normal css position flow. I can achieve that using Developer Tools inspector (disabling `position: absolute` from the rendered children), or programatically setting a `c

[2016-02-03 04:21] WaverleyDesign commented on #16
Okay, thanks.

[2016-02-13 11:06] PaulHMason opened #36 "Mapping multiple indexes to a single page."
This is a proposed feature request.

I'm using `iron-pages` to distribute view content into multiple areas of a page, using a shared string index, but in some areas I want to use the same content for multiple views (rather than duplicate it). Basically, I want to do something like this in a custom element:

[code]

Where content is distributed into two `iron-pages` elements based on the `area1` an

[2016-02-23 21:21] TimvdLippe commented on #28
Our usecase could also benefit from this. We had an auto-triggering `iron-ajax` on our page which was still firing, even if that page was not loaded. If the pages are instead wrapped in the `dom-if`, we can listen for the `attached` event and correctly fire the request when needed.

[2016-06-28 14:38] RomanovX opened #39 "Polymer 1.5/iOS: How to stop event propagation over iron-pages"
We have a one page app which uses iron pages and express-router to navigate. In the browser and on android it works perfectly, on iOS however, we have a bug. The problem occurs if we switch pages by a button press. If the button is exactly over an input text field element (read: in the same position, but on the next iron-page) the input element gains focus directly after the page switch.

We used

[2016-07-07 04:34] minhlong139 opened #41 "How can I add effect for iron-pages transition?"
How can I add effect for iron-pages transition?

Effect something like this https://elements.polymer-project.org/elements/neon-animation?view=demo:demo/index.html&active=neon-animated-pages

Thanks.

[2016-07-07 09:13] stemuk opened #42 "Incompatibility with iOS 9 Safari"
The Demo of iron-pages is not working on iOS 9 Safari and Safari- based browsers like Chrome for iOS. This may point to a general incompatibility of iron-pages with iOS 9 Safari, is somebody facing the same issues?

-Stefan

[2016-07-13 22:28] notwaldorf commented on #42
Hmm the problem is with the demo, not the element -- it seems to be that the `iron-pages` element eats the click, and doesn't bubble it to the document. If we put the click handler on the document, it works fine: http://output.jsbin.com/picexu

I'll update the demo and send a PR!

[2016-07-14 00:00] #42 closed, assigned to nobody

[2016-07-15 07:05] minhlong139 commented on #41
Hellooooo

[2016-07-30 05:33] ghost opened #44 "iron-activate event not firing"
I am trying to get default routes working in my application with nested `app-route` and `iron-pages` by binding **fallback-selector** to `app-location`. It works, but I need this to work across multiple sub-elements of my application, and if all the `iron-pages` elements update the location, it fritzes the app into an endless loop of location changes.

To make it work, in each sub-element I need t

[2016-08-10 09:57] ergo commented on #44
Same here, never got iron-activate to work.

[2016-08-10 10:01] ergo opened #45 "iron-deselect could hold information on what element is being deselected"
### Description

When iron-deselect is fired - i can only check the event for the current selected item that is actually newly selected element. I would actually be interested to know what item is being deseleted.

[2016-08-19 12:23] TimvdLippe commented on #28
FWIW I have built `iron-lazy-pages`: https://github.com/TimvdLippe/iron-lazy-pages

[2016-08-19 12:39] TimvdLippe opened #46 "Use css containment on iron-pages"
### Description

This is mostly inspired by the latest [supercharged](https://www.youtube.com/watch?v=4FeG29pnlwU). Since we know beforehand that only 1 view is selected by `iron-pages`, it would be nice to take advantage of css containment just like explained in the video.

I have made the change locally and tried to debug potential issues and measure the performance improvement. Sadly the improv

[2016-09-07 10:35] IchordeDionysos commented on #36
Jap this is really a thing.

As Polymer already has so many nodes in your DOM tree. I don't want to add another custom element just for an alias in iron-pages.

[2016-09-12 01:08] nigeltiany opened #47 "Attached Method Calling on iron pages?"
What would be a better way to recalculate bindings when a page moves from being unselected to selected? Is an iron-page supposed to be _attached_ when selected and _dettached_ otherwise? That way a polymer component that is an iron page can have the `attached` property as a function that can be used to recalculate data bindings?

Here is my code

[code]

[code]

[2016-09-13 09:19] mbana opened #48 "are all the pages created?"
if seems like all the pages are being created, e.g., the lifecycle methods are being called, before they are being used: this is an issue if the pages all depend on the same set of bindings cause variables to leak.

the docs need to be updated to indicate that the pages are not lazy loaded. here is the console log from a sample run:

[code]

[2016-09-14 07:53] bwh-rl opened #50 "Enhancement - Optional iron-page-behavior for childs with select / deselect lifecycle callbacks."
Main reason for this would be the view switching like shown in the starter-kit.
e.g. If i have an Video on an view element, you want it to stop it on deselect.
Or reloading ajax requests on select, or resetting form data to blank, ...

On select / deselect the iron-pages element would have to check if the selected / deselected element got the iron-page-behavior, and call the function. The usage wi

[2016-09-14 08:23] bwh-rl commented on #50
Maybe an child behavior is not needed at all.
Just check if the function exist and call it.

[2016-09-14 09:43] bwh-rl commented on #50
Moved PolymerElements/iron-selector#140

[2016-09-14 09:43] #50 closed, assigned to nobody

[2016-09-28 21:16] 43081j commented on #47
Do you mean something like the [`selectedAttribute`](https://elements.polymer-project.org/elements/iron-pages#property-selectedAttribute)?

`<iron-pages selected-attribute="active" ...>` will mean your boolean property, `active`, is set true/false when the page is active or not. Then in your observer of said property, update internal state if `active === true`.

[2016-09-28 23:29] nigeltiany commented on #47
What i meant was life cycle callbacks. Methods that can called when an iron page is currently active, moves from being active or being viewed to hidden or inactive and any other callbacks necessary.

[2016-09-29 08:22] 43081j commented on #47
Isn't this exactly what I just said?

In the code snippet I posted above, you would have an observer on `active`. You say you want some kind of callback when the page moves from active to inactive, this is it. An observer on the selected attribute, which in my example is `active`.

attached/detached of course won't fire, it has already been attached. iron-pages will simply hide it. So how do you k

[2016-10-04 20:44] mbana opened #51 "temporary page"
Hi,

Is there way to add a page, say, marked as active when another page is clicked, then remove it after we get to our real destination?

[2016-10-07 09:39] samuelli opened #52 "selectedItem isn't set when rendered in the background"
### Description

Some attributes aren't set correctly when iron-pages is rendered in the background.
### Expected outcome

If you inspect iron-pages, selectedItem should be the selected item.
### Actual outcome

If you inspect iron-pages, selectedItem is undefined, even though the page is selected correctly.
### Live Demo

https://jsfiddle.net/stu9rxxg/1/
### Steps to reproduce
1. Open demo link i

[2016-12-09 10:51] nicholaswmin opened #53 "Allow restamping"
As it is right now, `iron-pages` doesn't provide for a way to destroy non-currently viewed pages and restamp them when they come back into view.

Providing a property that does this (perhaps `restamp`), would allow for significant performance improvements when navigating through complex DOM chunks with multiple levels of nested iron-pages.

There's potential hacks around this using `<dom-if>` but

[2017-01-03 06:22] vinerz commented on #28
Will check it out! Thanks 😃

[2017-01-12 10:04] MrMcGibblets opened #55 "#2.0-preview bower install - permission denied"
I have had this working, so i do accept that this is not a "bug". However since this morning (12/01/2017) when running bower install for iron-pages:
[code]
returns - Failed to execute "git ls-remote ......."  Permission denied <publicKey>

I can confirm no proxys/firewalls are causing this issue and this was working as of 10/01/2017.

Someone put me out of my misery please.

[2017-01-16 21:55] MrMcGibblets commented on #55
Ok, so this issue is due to breaking changes causing iron-pages and iron-selector builds to fail on the 12/01/2017. Once this has been acknowledged and resolved, we can close this issue.

[2017-01-17 17:45] hzmsrv opened #56 "how to clear and release all items?"
### Description

### Expected outcome

### Actual outcome

### Live Demo

### Steps to reproduce

### Browsers Affected

- [ ] Chrome
- [ ] Firefox
- [ ] Safari 9
- [ ] Safari 8
- [ ] Safari 7
- [ ] Edge
- [ ] IE 11
- [ ] IE 10

[2017-01-20 11:34] MrMcGibblets commented on #55
The last commit should fix the issue, I'll do some checking tomorrow and if it hasn't already I will close the issue.

[2017-01-23 11:29] MrMcGibblets commented on #55
iron-pages 2.0 can now be installed again via bower. Closing issue.

[2017-01-23 11:29] #55 closed, assigned to nobody

[2017-02-16 07:36] phani1kumar opened #58 "Changing visible pages dynamically through the selectable attribute doesn't work"
### Description
I am using Polymer #2.0-preview version

iron-pages changing the visible pages dynamically. I tried to achieve this by data binding the `selectable` attribute via `selectable="[[_calculatePageVisibility(user)]]"` inside the function I was doing the following:
[code]

In debugger, I could see that the ironPage.selectable has changed as per the user state, but the ironPage.items is n

[2017-02-18 17:40] Boscop commented on #53
+1 for this!
Btw, I found this related blog post:
http://nader.tn/2015/07/polymer-element-recreation/

[2017-02-25 19:41] JunedS commented on #53
+1
Missing this feature very much.
Btw, I found this https://github.com/TimvdLippe/iron-lazy-pages built on top of iron-pages
Why cant the same be implemented in iron-pages?

[2017-03-31 12:34] hariprasadiit commented on #41
check this demo

https://github.com/PolymerElements/neon-animation/blob/master/demo/declarative/index.html

[2017-04-10 20:34] tpluscode commented on #28
Another way is to exclude load page elements lazily with `this.importHref` or [`lazy-imports`](https://github.com/Polymer/lazy-imports)

[2017-04-15 07:14] jobizzness opened #60 "middleware"
### Description

Hi i was thinking to have like a middleware for iron-pages.
        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="404"
            session="[[signedIn]]"
            role="main">
          <biness-home name="home" middleware="auth"></biness-home>
          <biness-404 name="dashboard" middleware="admin"></biness-40

[2017-05-04 11:45] stramel commented on #28
:+1: using lazy-imports

[2017-05-07 19:57] tpluscode commented on #58
I just found the same problem. Did you find any workaround @phani1kumar?

[2017-05-14 11:07] tpluscode commented on #58
Okay, here's what you can do for the time being. Whenever the value of `_calculatePageVisibility(user)` changes you have to make two calls on your `iron-pages`:

1. `_updateItems()` to discover items that match the selector
1. `_updatSelected()` to make sure you select/unselect an item in case its visibility should change

You may also want to wrap those calls in `this.async` (Polymer 1.x) or `Pol

[2017-06-06 10:06] TimvdLippe commented on #53
I have just pushed support for `dom-if` in `iron-lazy-pages`. The implementation is rather naive: just mimic the `if` property to the selected/deselected to trigger the `dom-if` restamping. Check it out at https://github.com/TimvdLippe/iron-lazy-pages/pull/56

[2017-06-06 10:07] TimvdLippe commented on #28
I have just pushed support for `dom-if` in `iron-lazy-pages`. The implementation is rather naive: just mimic the `if` property to the selected/deselected to trigger the `dom-if` restamping. Check it out at https://github.com/TimvdLippe/iron-lazy-pages/pull/56

[2017-06-08 20:09] scottromack commented on #5
Don't use neon-animation! It's depricated

[2017-06-12 11:37] microo8 commented on #5
And what can be used instead? How to animate it with pure css?

[2017-06-20 16:00] scottromack commented on #5
This is what I am trying to figure out as well. I am using iron-dropdown and you can disable web animations via attributes but it still won't allow simple CSS transitions. It's pretty frustrating.

[2017-07-07 22:20] robdodson opened #62 "Docs are screwed up on webcomponents.org"
https://www.webcomponents.org/element/PolymerElements/iron-pages is the first such result when you Google iron-pages. That page has a link that says "Demo and API docs", clicking on that just loads the same URL.

[2017-07-27 13:56] samdz opened #63 "MS Edge error"
### Description
Demo of iron-pages (with Polymer 2.0) does not work in MS Edge.  It works in Chrome and Firefox).  I just bower installed ALL Polymer 2 items.

### Expected outcome

I expect the standard demo to function as in Chrome and Firefox
<img width="508" alt="ironpageserror" src="https://user-images.githubusercontent.com/1120727/28674424-5cebe18a-72b3-11e7-8d4e-0e8dcd50fd81.png">

### Actu

[2017-08-04 13:11] ignlopezperez commented on #63
I have the same error, in Edge and IE11.

![image](https://user-images.githubusercontent.com/29950812/28970016-d513a910-791e-11e7-80a9-7b37bd3f7de4.png)

[2017-08-07 19:28] n1ywb commented on #62
The docs are even screwed up in `polymer serve`. No docs are generated for inherited behaviors.
![image](https://user-images.githubusercontent.com/316961/29042480-0ce80864-7b85-11e7-9f96-814df7fc688f.png)

[2017-08-14 18:48] notwaldorf commented on #62
cc @samuelli  @aomarks

[2017-08-14 18:53] samuelli commented on #62
Comment 1 is just the legacy link that we still have in lots of places.

Comment 2 is different, looks like an analyzer issue? cc @rictic

[2017-08-14 19:14] n1ywb commented on #62
@samuelli It's a legacy link? then why does it come up first when I search for iron-pages on webcomponents.org?

https://www.webcomponents.org/search/iron-pages
links to

https://www.webcomponents.org/element/PolymerElements/iron-pages

What is the non-legacy link?

[2017-08-17 15:02] ymaz commented on #52
Hi, does PolymerElement have plans to resolve this issue in near future? Thanks

[2017-08-20 14:46] ageblade commented on #63
I think that it is a problem when `webcomponentsjs` did not finish loading all the polyfills. I tried waiting for `WebComponentsReady` event and only after that loading the application and the message disappeared.  Hope it helps!

[2017-09-13 06:05] Torgen opened #65 "Selected page is not displayed on Safari 11 when content comes from slot"
### Description
When a component contains an iron-pages, and the content of the iron-pages is a slot, the selected page injected into the iron-pages from the light dom is not rendered.

### Expected outcome
Selected page is rendered.

### Actual outcome
No page is rendered.
It seems that the :not(.iron-selected) selector captures the slot itself, changing its display to none and in so doing not di

[2017-09-18 17:19] Torgen commented on #65
Trying to put together an automated test, but Sauce doesn't yet support Safari 10.1, which adds a native Custom Elements implementation, so I can't get it to fail without my fix.

[2017-09-20 17:56] goatandsheep commented on #60
What does `role` do?

[2017-09-21 07:19] jobizzness commented on #60
If anyone is interested, i think this can be achieved using switch statements. Here is how i did it.

`
_middleware(page, old){
            switch(page){
              case 'login':
              case 'signup':
                if(this.user){
                  this.set("route.path", '/');
                }
                break;
              case 'me':
              case 'cart':
              case

[2017-09-21 07:19] #60 closed, assigned to nobody

[2017-09-21 07:20] jobizzness commented on #60
`_middleware(page, old){
            switch(page){
              case 'login':
              case 'signup':
                if(this.user){
                  this.set("route.path", '/');
                }
                break;
              case 'me':
              case 'cart':
              case 'notification':
                if(!this.user){
                  this.set("route.path", '/');

[2017-10-25 06:22] Torgen commented on #65
Sauce has added support for Safari 11 on MacOS 10.12, so I'm renewing my efforts to make a test case that fails there.

[2017-10-25 07:22] Torgen commented on #65
Manually tested on safari 11 and my jsbin has the same issue, but I haven't put together a test case that fails the same way. It would be surprising if the paper-tabs were required to make the failure happen.

[2017-11-08 01:13] keanulee commented on #65
Related: https://bugs.webkit.org/show_bug.cgi?id=179402

[2017-11-21 22:03] #65 closed, assigned to nobody

[2018-02-13 08:05] HJK181 commented on #52
Over one year old a no comments?

[2018-03-27 17:36] psquared2 commented on #29
This happens at iron-pages 1.0.8 - even with a page with 64 (recursively counted) children

[2018-06-21 22:03] arkaray opened #71 "display is overridden by iron pages"
### Description
paper-dialog(or any other tag for that matter) style="display: flex;" has no effect due to !important in iron-pages style.

### Expected outcome

display:flex is not overridden

### Actual outcome

display:flex is overridden

### Steps to reproduce

1. Define a polymer element with paper-dialog in it with display: flex
2. Use that element inside iron pages

### Browsers Affected
-

[2018-06-22 15:31] arkaray commented on #71
Sorry seems to be issue with paper dialog

[2018-06-22 15:31] #71 closed, assigned to nobody

[2018-07-09 17:39] TimvdLippe commented on #46
This is probably a breaking change, let's not do this.

[2018-07-09 17:39] #46 closed, assigned to nobody

[2018-07-09 21:39] tandacedric commented on #53
Do like this
![image](https://user-images.githubusercontent.com/13773515/42477298-6ec5c9bc-83c8-11e8-849b-db1fdcaafb04.png)
Do not forget to put the "div" because iron-page needs that to manage
 and create equal fonction in your script like this
![image](https://user-images.githubusercontent.com/13773515/42477341-99efdd6c-83c8-11e8-854c-9227ee7abe05.png)

[2019-01-07 02:06] kangkai17905073 commented on #62
The "Documentation" link of https://www.webcomponents.org/element/@polymer/iron-pages point to itself.
What you actually want properly is the "<iron-pages>" link under "Elements" section inside the left bar.  It points to here: https://www.webcomponents.org/element/@polymer/iron-pages/elements/iron-pages and there are the Properties, Methods and Events details be.

[2019-05-15 10:26] masonlouchart commented on #24
Does not work anymore.

[2019-07-30 14:20] Taewa commented on #48
Hi @mbana
I am wondering how did you manage it.

[2019-11-19 20:55] #47 closed, assigned to nobody